{% extends "base.html" %}

{% block title %}
    {{ object }}
{% endblock title %}

{% block content %}
    <div class="centered">
        <h1>{{ object }}</h1>
    </div>
    <div class="row centered">
        <div class="col-md-6">
            <dl>
                <dt>VIN Prefix</dt>
                <dd>
                    {{ object.vin_prefix }} {% include "vin_charts/_notes_modal.html" with id="VINPrefix" title="Vehicle Notes" obj=object %}
                </dd>
                <dt>Sales Designation</dt>
                <dd>{{ object.sales_designation }}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl>
                <dt>Chassis</dt>
                <dd>
                    {{ object.chassis }}
                    {% include "vin_charts/_notes_modal.html" with id="Chassis" title="Chassis Notes" obj=object.chassis %}
                </dd>
                <dt>Engine</dt>
                <dd>
                    {{ object.engine }}
                    {% include "vin_charts/_notes_modal.html" with id="Engine" title="Engine Notes" obj=object.engine %}
                </dd>
                <dt>Transmission</dt>
                <dd>
                    {% for transmission in object.transmissions.all %}
                        {{ transmission }}{% include "vin_charts/_notes_modal.html" with id="Transmission" title="Transmission Notes" obj=transmission %}<br>
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </div>
{% endblock content %}
